// Logo for login and loading
@brand-logo-img: 'logo-main.png';

// height of the logo
@brand-logo-height: 25%;

// when set adds an image below login form.
//As an example, check Trakerando branding
@powered-by: '';


@appLogo: "";

@appLogo-height: 100%;


//When set, it replaces app name with image
@appBranding:"";
